P->bSd
S->TS
S->e
T->IgE;
T->r(L);
T->w(X);
T->iBhTY
Y->;
Y->kT;
L->IM
M->,IM
M->e
X->EK
K->,EK
K->e
E->FJ
J->OFJ
J->e
F->(E)
F->I
F->N
O->+
O->-
B->RD
D->oRD
D->e
R->AQ
Q->aAQ
Q->e
A->nA
A->(B)
A->t
A->f
N->+l
N->-l
N->l
I->j